html,
body{
    background-color: #1a1a1a;
    width: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;

}

img{
    position: absolute;
    height: 150px;
    width: 150px;
    left: 45%;
    bottom: 65%;
}

div{
    position: absolute;
    width: 100%;
    width: 100vw;
    height: 50%;
}

h1 {
    color: #C5A880;
    font-family: 'League Gothic', sans-serif;
    font-size: 100px;
    text-align: center;
    padding-top: 50px;
    padding-left: 4%;
}

form {
    background-color: #C5A880;
    height: 6%;
    padding-right: 10%;
}

select {
    position: relative;
    width: 15%;
    bottom: 250%;
    left: 40%;
    background-color: #C5A880;
    color: #532E1C;;
    border-color: #C5A880;
    border-style: solid;
}

input {
    position: relative;
    left: 40%;
    bottom: 250%;
    background-color: #532E1C;
    color: #C5A880;
    border-color: #C5A880;
    border-style: solid;
    font-size: 12px;
    font-family: sans-serif;
}

#er_msg{
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    width: 50%;
    left: 23%;
    bottom: 45%;
    color: rgb(183, 55, 55);
}

#msg{
    font-family: sans-serif;
    text-align: center;
    position: absolute;
    width: 50%;
    left: 23%;
    bottom: 45%;
    color: rgba(167, 234, 232, 0.461);
}

table{
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    font-family: 'League Gothic', sans-serif;
    padding: 8px;
}

table td, table th {
    border: 2px solid #C5A880;
    padding: 8px;
  }

table th{
    background-color: #C5A880;
    color: #1a1a1a;
    height: 45px;
}

table td{
    background-color: #532E1C;
    color: #1a1a1a;
}

